---
import { SITE } from "../config/site";
---

<div class="mobile-cta">
  <a href={SITE.phoneHref} class="btn btn-ghost">Call Now</a>
  <a href={SITE.estimateHref} class="btn btn-cta">Free Estimate</a>
</div>
