---
import { SITE } from "../config/site";
---

<div class="promo-bar">
  <div class="wrap promo-bar-inner">
    <span>Book before July 31 and save $150 on exterior projects $2,000+.</span>
    <a href={SITE.estimateHref}>Get a Free Estimate &rarr;</a>
  </div>
</div>
